In [1]:
import numpy as np
import pandas as pd

In [4]:
# from google.colab import files
# path=list(files.upload().keys())[0]
path="C:\\Users\\rajen\\OneDrive\\Desktop\\Data\\jobs.csv"

In [5]:
df=pd.read_csv(path)

In [6]:
df=df.sample(5000,ignore_index=True)
print(df.shape)
df

(5000, 3)

,Company Name,Location,Job Title
0,Melbourne Water,"Melbourne, Australia",Manual Technical Writer - Eastern Tertiary All...
1,VP Health Systems,"Sydney Area, Australia",Director Of Program Services
2,Modis Australia (formerly Ajilon),"Spit Junction, New South Wales, Australia",Solutions Architect
3,Australian Department of Health,"Noosa Heads, Queensland, Australia",Assistant Director - International Strategies ...
4,Skiva,"Sydney, New South Wales, Australia",Test Analyst
...,...,...,...
4995,University of Victoria,"Sydney Area, Australia",Postdoctoral Fellow
4996,Gloria Jean's Coffees,"Newcastle Area, Australia",Barista
4997,BNI Sydney Central & South,"Sydney Area, Australia",Executive Director
4998,Department of Sustainability and Environment,"Melbourne Area, Australia",Online Communications Adviser
4999,University of Technology Sydney,"Sydney Area, Australia",Visiting Professional Fellow

In [7]:
import string

In [8]:
panch=string.punctuation
panch

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [11]:
def remove_panch(text):
    mylist=[]
    for i in text.split():
        if i not in panch:
            
            mylist.append(i)
    return " ".join(mylist)

In [12]:
df["Job Title"]=df["Job Title"].apply(remove_panch)

In [13]:
df["Location"]=df["Location"].apply(remove_panch)
df["Company Name"]=df["Company Name"].astype(str)

df["Company Name"]=df["Company Name"].apply(remove_panch)
df

,Company Name,Location,Job Title
0,Melbourne Water,"Melbourne, Australia",Manual Technical Writer Eastern Tertiary Alliance
1,VP Health Systems,"Sydney Area, Australia",Director Of Program Services
2,Modis Australia (formerly Ajilon),"Spit Junction, New South Wales, Australia",Solutions Architect
3,Australian Department of Health,"Noosa Heads, Queensland, Australia",Assistant Director International Strategies Br...
4,Skiva,"Sydney, New South Wales, Australia",Test Analyst
...,...,...,...
4995,University of Victoria,"Sydney Area, Australia",Postdoctoral Fellow
4996,Gloria Jean's Coffees,"Newcastle Area, Australia",Barista
4997,BNI Sydney Central South,"Sydney Area, Australia",Executive Director
4998,Department of Sustainability and Environment,"Melbourne Area, Australia",Online Communications Adviser
4999,University of Technology Sydney,"Sydney Area, Australia",Visiting Professional Fellow

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  5000 non-null   object
 1   Location      5000 non-null   object
 2   Job Title     5000 non-null   object
dtypes: object(3)
memory usage: 117.3+ KB

In [15]:
df.isnull().sum()

Company Name    0
Location        0
Job Title       0
dtype: int64

In [16]:
df.head(5)

,Company Name,Location,Job Title
0,Melbourne Water,"Melbourne, Australia",Manual Technical Writer Eastern Tertiary Alliance
1,VP Health Systems,"Sydney Area, Australia",Director Of Program Services
2,Modis Australia (formerly Ajilon),"Spit Junction, New South Wales, Australia",Solutions Architect
3,Australian Department of Health,"Noosa Heads, Queensland, Australia",Assistant Director International Strategies Br...
4,Skiva,"Sydney, New South Wales, Australia",Test Analyst

In [17]:
df["Content"]=df.apply(lambda x:" ".join(x.dropna().astype(str)),axis=1)

In [18]:
df

,Company Name,Location,Job Title,Content
0,Melbourne Water,"Melbourne, Australia",Manual Technical Writer Eastern Tertiary Alliance,"Melbourne Water Melbourne, Australia Manual Te..."
1,VP Health Systems,"Sydney Area, Australia",Director Of Program Services,"VP Health Systems Sydney Area, Australia Direc..."
2,Modis Australia (formerly Ajilon),"Spit Junction, New South Wales, Australia",Solutions Architect,Modis Australia (formerly Ajilon) Spit Junctio...
3,Australian Department of Health,"Noosa Heads, Queensland, Australia",Assistant Director International Strategies Br...,"Australian Department of Health Noosa Heads, Q..."
4,Skiva,"Sydney, New South Wales, Australia",Test Analyst,"Skiva Sydney, New South Wales, Australia Test ..."
...,...,...,...,...
4995,University of Victoria,"Sydney Area, Australia",Postdoctoral Fellow,"University of Victoria Sydney Area, Australia ..."
4996,Gloria Jean's Coffees,"Newcastle Area, Australia",Barista,"Gloria Jean's Coffees Newcastle Area, Australi..."
4997,BNI Sydney Central South,"Sydney Area, Australia",Executive Director,"BNI Sydney Central South Sydney Area, Australi..."
4998,Department of Sustainability and Environment,"Melbourne Area, Australia",Online Communications Adviser,Department of Sustainability and Environment M...
4999,University of Technology Sydney,"Sydney Area, Australia",Visiting Professional Fellow,"University of Technology Sydney Sydney Area, A..."

In [19]:
from  sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000)

In [20]:
metrics=cv.fit_transform(df["Content"]).toarray()
metrics.shape

(5000, 5000)

In [21]:
similarity=cosine_similarity(metrics)

In [22]:
def recommend(Job_Title):
    index = df[df['Job Title'] == Job_Title ].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    new_index= [ i[0] for i in distances[1:11]]
    return df.iloc[new_index,:-1]

In [24]:
recommend("Analyst")

,Company Name,Location,Job Title
1478,University of Sydney,"Sydney Area, Australia",Business Analyst
2965,Australian Bureau of Statistics,"Canberra, Australia",Business Manager
371,University of Sydney,"Sydney Area, Australia",Lecturer
2682,Australian Bureau of Statistics,"Brisbane, Australia",Census Field Officer
2873,Property Council of Australia,"Sydney, Australia",Analyst
3280,University of Sydney,"Sydney Area, Australia",Tutor
213,Optus,"Sydney Area, Australia",Business Analyst
1943,Nokia,"Sydney Area, Australia",Interface Analyst
3908,Vodafone,"Sydney Area, Australia",Analyst Programmer
4681,Cochlear,"Sydney Area, Australia",Systems Analyst