In [2]:
import numpy as np
import pandas as pd
import time 
import datetime
import mysql.connector

In [3]:
connector=mysql.connector.connect(host="localhost",user="root",password="kempk2933g",database="employee")
cursor=connector.cursor()

In [6]:
query="insert into emp_attendance values('rajendra',now())"
cursor.execute(query)


query="select * from emp_attendance"
cursor.execute(query)
data=cursor.fetchall()

query="commit"
cursor.execute(query)

In [19]:
df=[]
for datas in data:
    df.append(datas)
df=pd.DataFrame(df,columns=["Name","Time"])
df

       Name                Time
0  rajendra 2023-09-17 17:23:06
1       ram 2023-09-17 17:35:47
2       abc 2023-09-17 17:39:49
3     manoj 2023-09-17 17:40:04
4     manoj 2023-09-17 17:42:42
5     manoj 2023-09-17 17:42:43
6     manoj 2023-09-17 17:42:46

In [6]:
df=pd.read_sql_query(query,connector)

C:\Users\rajen\AppData\Local\Temp\ipykernel_2932\4173712164.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query,connector)