In [1]:
import numpy as np
import pandas as pd

In [2]:
movies=pd.read_csv("Movies_Data.csv")

In [3]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [4]:

movies

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"['In', 'the', '22nd', 'century,', 'a', 'parapl...","['Action', 'Adventure', 'Fantasy', 'ScienceFic...","['cultureclash', 'future', 'spacewar', 'spacec...","['SamWorthington', 'ZoeSaldana', 'SigourneyWea...",['JamesCameron']
1,285,Pirates of the Caribbean: At World's End,"['Captain', 'Barbossa,', 'long', 'believed', '...","['Adventure', 'Fantasy', 'Action']","['ocean', 'drugabuse', 'exoticisland', 'eastin...","['JohnnyDepp', 'OrlandoBloom', 'KeiraKnightley']",['GoreVerbinski']
2,206647,Spectre,"['A', 'cryptic', 'message', 'from', 'Bond’s', ...","['Action', 'Adventure', 'Crime']","['spy', 'basedonnovel', 'secretagent', 'sequel...","['DanielCraig', 'ChristophWaltz', 'LéaSeydoux']",['SamMendes']
3,49026,The Dark Knight Rises,"['Following', 'the', 'death', 'of', 'District'...","['Action', 'Crime', 'Drama', 'Thriller']","['dccomics', 'crimefighter', 'terrorist', 'sec...","['ChristianBale', 'MichaelCaine', 'GaryOldman']",['ChristopherNolan']
4,49529,John Carter,"['John', 'Carter', 'is', 'a', 'war-weary,', 'f...","['Action', 'Adventure', 'ScienceFiction']","['basedonnovel', 'mars', 'medallion', 'spacetr...","['TaylorKitsch', 'LynnCollins', 'SamanthaMorton']",['AndrewStanton']
...,...,...,...,...,...,...,...
4801,9367,El Mariachi,"['El', 'Mariachi', 'just', 'wants', 'to', 'pla...","['Action', 'Crime', 'Thriller']","['unitedstates–mexicobarrier', 'legs', 'arms',...","['CarlosGallardo', 'JaimedeHoyos', 'PeterMarqu...",['RobertRodriguez']
4802,72766,Newlyweds,"['A', 'newlywed', ""couple's"", 'honeymoon', 'is...","['Comedy', 'Romance']",[],"['EdwardBurns', 'KerryBishé', 'MarshaDietlein']",['EdwardBurns']
4803,231617,"Signed, Sealed, Delivered","['""Signed,', 'Sealed,', 'Delivered""', 'introdu...","['Comedy', 'Drama', 'Romance', 'TVMovie']","['date', 'loveatfirstsight', 'narration', 'inv...","['EricMabius', 'KristinBooth', 'CrystalLowe']",['ScottSmith']
4804,126186,Shanghai Calling,"['When', 'ambitious', 'New', 'York', 'attorney...",[],[],"['DanielHenney', 'ElizaCoupe', 'BillPaxton']",['DanielHsia']
4805,25975,My Date with Drew,"['Ever', 'since', 'the', 'second', 'grade', 'w...",['Documentary'],"['obsession', 'camcorder', 'crush', 'dreamgirl']","['DrewBarrymore', 'BrianHerzlinger', 'CoreyFel...","['BrianHerzlinger', 'JonGunn', 'BrettWinn']"

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4806 entries, 0 to 4805
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4806 non-null   int64
 1   title     4806 non-null   object
 2   overview  4806 non-null   object
 3   genres    4806 non-null   object
 4   keywords  4806 non-null   object
 5   cast      4806 non-null   object
 6   crew      4806 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.0+ KB

In [6]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [7]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])
new["tags"]=new["tags"].str.lower()

In [8]:
# new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new["tags"][0]

"['in', 'the', '22nd', 'century,', 'a', 'paraplegic', 'marine', 'is', 'dispatched', 'to', 'the', 'moon', 'pandora', 'on', 'a', 'unique', 'mission,', 'but', 'becomes', 'torn', 'between', 'following', 'orders', 'and', 'protecting', 'an', 'alien', 'civilization.']['action', 'adventure', 'fantasy', 'sciencefiction']['cultureclash', 'future', 'spacewar', 'spacecolony', 'society', 'spacetravel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alienplanet', 'cgi', 'marine', 'soldier', 'battle', 'loveaffair', 'antiwar', 'powerrelations', 'mindandsoul', '3d']['samworthington', 'zoesaldana', 'sigourneyweaver']['jamescameron']"

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [10]:
vector = cv.fit_transform(new['tags']).toarray()

In [11]:
vector.shape

(4806, 5000)

In [12]:
from sklearn.metrics.pairwise import cosine_similarity

In [13]:
similarity = cosine_similarity(vector)

C:\Users\rajen\anaconda3\lib\site-packages\sklearn\utils\extmath.py:189: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b

In [14]:
similarity

array([[1.        , 0.09107651, 0.06071767, ..., 0.02519763, 0.02639818,
        0.        ],
       [0.09107651, 1.        , 0.06451613, ..., 0.02677398, 0.        ,
        0.        ],
       [0.06071767, 0.06451613, 1.        , ..., 0.02677398, 0.        ,
        0.        ],
       ...,
       [0.02519763, 0.02677398, 0.02677398, ..., 1.        , 0.06984303,
        0.04774099],
       [0.02639818, 0.        , 0.        , ..., 0.06984303, 1.        ,
        0.05001563],
       [0.        , 0.        , 0.        , ..., 0.04774099, 0.05001563,
        1.        ]])

In [15]:
new[new['title'] == 'The Lego Movie'].index[0]

744

In [16]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [17]:
recommend('Avatar')

Titan A.E.
Small Soldiers
Independence Day
Aliens vs Predator: Requiem
Ender's Game

In [30]:
new.columns

Index(['movie_id', 'title', 'tags'], dtype='object')

In [18]:
mylist=[]
for i in new["title"]:
    mylist.append(i)

In [19]:
import tkinter 
from tkinter import *
import pickle
from tkinter import messagebox
import numpy as np
from tkinter import ttk

In [32]:
root=Tk()


def recommend():
    new_list=[]
    movie=user_input1.get()
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        new_list.append(new.iloc[i[0]])
    messagebox.showinfo("Result",f" Your 1 Movie is {new_list[0].title} \n Your 2 Movie is {new_list[1].title} \n Your 3 Movie is {new_list[2].title} \n Your 4 Movie is {new_list[3].title} \n Your 5 Movie is {new_list[4].title}")

    
    
    
    
    






root.title(" GUI ")
root.geometry("500x500")
root.resizable(0,0)

tital=Label(root,text="MOVIES_RECOMMANDATION_SYSTEM",fg="Black",background="white")
tital.pack(ipady=10,pady=(5,0))
tital.config(font="Verdana")

tital1=Label(root,text="Enter Movie",background="white")
tital1.pack(ipady=5,pady=(15,0))
tital1.config(font="Verdana")

user_input1=ttk.Combobox(root,value=mylist)
user_input1.pack(ipady=3,pady=(5,0))




login_but=Button(root,text="Get Prediction",bg="white",background="white",command=recommend)
login_but.pack(ipady=5,pady=(25,5))


root.mainloop()